<section>
    <div class="min-h-screen bg-cover bg-center flex items-center justify-center"
        style="background-image: url('assets/Infantia_background.png');">
        <div class="bg-white rounded-2xl shadow-2xl w-full max-w-4xl flex">

            <!-- Registro de Padre -->
            <div class="w-full p-10 flex flex-col justify-center">
                <h2 class="text-3xl font-bold mb-6 text-orange-300 text-center">Registro de Padre</h2>
                <form>
                    <div class="grid grid-cols-2 gap-3">
                        <div>
                            <label for="nameInput" class="form-label">Nombre</label>
                            <input type="text" id="nameInput" class="form-input">
                        </div>

                        <div>
                            <label for="lastnameInput" class="form-label">Apellido</label>
                            <input type="text" id="lastnameInput" class="form-input">
                        </div>



                        <div>
                            <label for="emailInput" class="form-label">Correo electrónico</label>
                            <input type="text" id="emailInput" class="form-input">
                        </div>

                        <div>
                            <label for="ageInput" class="form-label">Fecha de nacimietno</label>
                            <input type="text" id="ageInput" class="form-input">
                        </div>

                        

                        <div>
                            <label for="documentType" class="form-label">Tipo de documento</label>
                            <input type="text" id="documentTypeInput" class="form-input">
                        </div>

                        <div>
                            <label for="documentInput" class="form-label">Documento</label>
                            <input type="text" id="documentInput" class="form-input">
                        </div>



                        <div>
                            <label for="passwordInput" class="form-label">Contraseña</label>
                            <input type="text" id="passwordInput" class="form-input">
                        </div>

                        <div>
                            <label for="passwordConfirmInput" class="form-label">Repetir contraseña</label>
                            <input type="text" id="passwordConfirmInput" class="form-input">
                        </div>

                        
                    </div>

                    <!-- Array con el tipo de contacto -->


                    <button class="button-form-orange w-full">Registrar</button>
                </form>

            </div>

        </div>
    </div>
</section>