<section>
    <div class="min-h-screen bg-cover bg-center flex items-center justify-center"
        style="background-image: url('assets/Infantia_background.png');">
        <div class="bg-white rounded-2xl shadow-2xl w-full max-w-4xl flex">

            <!-- Registro de niño -->
            <div class="w-full p-10 flex flex-col justify-center">
                <h2 class="text-3xl font-bold mb-6 text-orange-300">Registro de niño</h2>
                <form>
                    <div class="mb-1">
                        <label for="nameInput" class="form-label">Nombre</label>
                        <input type="text" id="nameInput" class="form-input" placeholder="Ingrese el nombre del niño">
                    </div>

                    <div class="mb-1">
                        <label for="ageInput" class="form-label">Edad</label>
                        <input type="number" id="ageInput" class="form-input" placeholder="Ingrese la edad del niño">
                    </div>

                    <button class="button-form-orange w-full">Registrar niño</button>
                </form>
            </div>

        </div>
    </div>
</section>