<section class="min-h-screen bg-cover bg-center flex items-center justify-center"
    style="background-image: url('assets/Infantia_background.png');">
    <div class="bg-white rounded-2xl shadow-2xl w-full max-w-4xl flex">

        <!-- Login -->
        <div class="w-1/2 p-10 flex flex-col justify-center">
            <h2 class="text-3xl font-bold mb-6 text-orange-300">Iniciar sesión</h2>
            <form>
                <div class="mb-1">
                    <label for="emailInput" class="form-label">Email</label>
                    <input type="text" id="emailInput" class="form-input" placeholder="Ingrese su email">
                </div>

                <div class="mb-2">
                    <label for="passwordInput" class="form-label">Contraseña</label>
                    <input type="password" id="passwordInput" class="form-input" placeholder="Ingrese su contraseña">
                </div>

                <button class="button-form-orange w-full">Ingresar</button>

                <div class="mt-5">
                    <a class="block text-gray-400 text-center hover:text-orange-300 underline" href="">¿Olvidaste tu
                        contraseña?</a>
                </div>
            </form>
        </div>

        <!-- Registro de usuario -->
        <div class="w-1/2 bg-main rounded-r-2xl p-10 items-center justify-center text-white">
            <h2 class="text-4xl font-semibold">¡Bienvenido/a a Infantia!</h2>
            <p class="text-lg mt-4">El lugar donde cuidamos juntos el desarrollo de tu pequeño.</p>
            <p class="text-base mt-2">¿Eres nuevo? <b>Crea una cuenta</b></p>
            <div class="flex flex-col items-center mt-6 w-full">
                <button class="button-form-white mb-2 w-full hover:scale-75 transition-transform">Registrarse como padre</button>
                <button class="button-form-white w-full" >Registrarse como guardería</button>
            </div>
        </div>
    </div>
</section>